#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/openstack-dev/pbr.git
include /usr/share/openstack-pkg-tools/pkgos.make

export OSLO_PACKAGE_VERSION=$(VERSION)

%:
	dh $@  --with python2

override_dh_clean:
	dh_clean
	# This is for a cowbuilder, as it's downloading this on clean
	# there...
	rm -rf d2to1-*-py*egg
