#!/usr/bin/make -f

PYTHONS:=$(shell pyversions -vr)
PYTHON3S:=$(shell py3versions -vr)
py3sdo=set -ex; $(foreach py, $(PYTHON3S), $(py) $(1);)

UPSTREAM_GIT = git://github.com/openstack-dev/pbr.git
include /usr/share/openstack-pkg-tools/pkgos.make

export OSLO_PACKAGE_VERSION=$(VERSION)

%:
	dh $@  --with python2,python3

override_dh_clean:
	dh_clean
	# This is for a cowbuilder, as it's downloading this on clean
	# there...
	rm -rf d2to1-*-py*egg

override_dh_auto_build:
	dh_auto_build
	$(call py3sdo, setup.py build)

override_dh_auto_install:
	dh_auto_install
	$(call py3sdo, setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb)

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info __pycache__

override_dh_auto_test:
ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	set -e && for vers in $(PYTHONS) $(PYTHON3S) ; do \
		python$$vers setup.py testr --slowest --testr-args='--subunit  ' || true ; \
	done
endif
